<h1><%= @project.title %></h1>

<h3><%= @project.description %></h3>
<h3><%= @project.requirements %></h3>
<h3><%= "#{t('.value')} #{number_to_currency(@project.maximum_value_per_hour)}" %></h3>
<h3><%= " #{t('.day')} #{l(@project.end_date)}" %></h3>
<h3><%= @project.class.human_enum_name(:working_model, @project.working_model) %></h3>
<%= link_to t('.back'), root_path %>

<h3><%= t('.apply_vacancy') %></h3>
<%= form_with model: [:user, @project, @proposal] do |f|  %>
  <div>
    <%= f.label :motivation %>
    <%= f.text_area :motivation %>
  </div>
  <div>
    <%= f.label :weekly_hours_available %>
    <%= f.number_field :weekly_hours_available %>
  </div>
  <%= f.submit t('.submit') %>
<% end %>
