
<h3><%= t('.candidate_profile') %></h3>

<p class="text-center"><%= @candidate_profile.full_name %></p>
<p><%= "#{@candidate_profile.class.human_attribute_name(:social_name)}: #{@candidate_profile.social_name}" %></p>
<p><%= "#{@candidate_profile.class.human_attribute_name(:date_birth)}: #{l(@candidate_profile.date_birth)}" %></p>
<p><%= "#{@candidate_profile.class.human_attribute_name(:academic_formation)}: #{@candidate_profile.academic_formation}" %></p>
<p><%= "#{@candidate_profile.class.human_attribute_name(:performance_zone)}: #{@candidate_profile.performance_zone}" %></p>
<p><%= "#{@candidate_profile.class.human_attribute_name(:professional_experiences)}: #{@candidate_profile.professional_experiences}" %></p>
<%= link_to t('.back'), admin_project_path(@project)%>

