<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-light">
          <h1 class="text-center"><%= t('.title') %></h1>
        </div>
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="mb-3">
              <%= f.label :email, class: 'form-label' %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
            </div>

            <div class="mb-3">
              <%= f.label :password, class: 'form-label' %>
              <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="mb-3 form-check">
                <%= f.check_box :remember_me, class: 'form-check-input' %>
                <%= f.label :remember_me, class: 'form-check-label' %>
              </div>
            <% end %>

            <div id="login" class="text-center">
              <%= f.submit t('.login'), class: 'btn btn-primary btn-sm' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3 justify-content-center text-center">
    <%= render "project_owners/shared/links" %>
  </div>
</div>
