<div class="container">

  <h4><%= t('.available_projects') unless project_owner_signed_in? %></h4>

  <nav>
    <% @projects.each do |project| %>
      <% if developer_signed_in? %>
        <div class="row">
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%= project.title %></h5>
                <p class="card-text"><%= project.description %></p>
                <a href=<%= user_project_path(project)%> class="btn btn-primary">Ver Informações do Projeto</a>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <% unless developer_signed_in? || project_owner_signed_in? %>
        <div class="row">
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%= project.title %></h5>
                <p class="card-text"><%= project.description %></p>
                <a href=<%= project_path(project)%> class="btn btn-primary">Ver Informações do Projeto</a>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </nav>
</div>

