<% if @project.errors.any? %>
  <ul>
    <% @project.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: [:admin, @project] do |f| %>
  <div>
    <%= f.label :working_model %>
    <%= f.select :working_model, Project.working_models.keys.map { |key| [Project.human_enum_name(:working_model, key), key] }, { prompt: t('.select') } %>
  </div>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.label :requirements %>
    <%= f.text_field :requirements %>
  </div>
  <div>
    <%= f.label :maximum_value_per_hour %>
    <%= f.number_field :maximum_value_per_hour %>
  </div>
  <div>
    <%= f.label :end_date %>
    <%= f.number_field :end_date %>
  </div>
  <div>
    <%= f.submit 'Criar Projeto' %>
  </div>
<% end %>