<div class="container mt-4">
  <div class="navbar navbar-dark bg-primary mb-4">
    <div class="container">
      <h1 class="text-white"><%= @project.title %></h1>
    </div>
  </div>

  <div class="mb-3">
    <h3><%= @project.description %></h3>
    <h3><%= @project.requirements %></h3>
    <h3><%= "#{t('.value')} #{number_to_currency(@project.maximum_value_per_hour)}" %></h3>
    <h3><%= " #{t('.day')} #{l(@project.end_date)}" %></h3>
    <h3><%= @project.class.human_enum_name(:working_model, @project.working_model) %></h3>
    <h3><%= "#{t('.category')}: #{@project.project_category.category}" %></h3>
  </div>

  <div class="mb-4">
    <%= link_to t('.edit'), edit_admin_project_path, class: 'btn btn-secondary btn-sm me-2' %>
    <%= link_to t('.back'), my_projects_admin_projects_path, class: 'btn btn-secondary btn-sm' %>
  </div>

  <% if project_owner_signed_in? && @project.project_owner == current_project_owner %>
    <% @project.proposals.each do |proposal| %>
      <% unless proposal.canceled? %>
        <h3 class="text-center mb-4"><%= t('.proposals') %></h3>
        <div class="card text-center mb-4">
          <div class="card-body">
            <h5 class="card-title">Proposta de <%= link_to proposal.developer.developer_profile.full_name, candidate_profile_admin_proposal_path %></h5>
            <p class="card-text"><%= "#{proposal.class.human_attribute_name(:motivation)}: #{proposal.motivation}" %></p>
            <p class="card-text"><%= "#{proposal.class.human_attribute_name(:weekly_hours_available)}: #{proposal.weekly_hours_available}" %></p>
            <p class="card-text"><%= "#{proposal.class.human_attribute_name(:status)}: #{proposal.class.human_enum_name(:status, proposal.status)}" %></p>
            <% if proposal.pending? %>
              <%= link_to t('.accept'), accept_admin_proposal_path(proposal), method: :post, class: 'btn btn-primary me-2' %>
              <%= link_to t('.recused'), recused_admin_proposal_path(proposal), method: :post, class: 'btn btn-danger' %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
