<div class="container mt-4">
  <div class="navbar navbar-dark bg-primary mb-4">
    <div class="container">
      <h1 class="text-white"><%= @project.title %></h1>
    </div>
  </div>

  <div class="mb-4">
    <h5 class="mb-3"><%= @project.description %></h5>
    <h5 class="mb-3"><%= @project.requirements %></h5>
    <h5 class="mb-3"><%= "#{t('.value')} #{number_to_currency(@project.maximum_value_per_hour)}" %></h5>
    <h5 class="mb-3"><%= " #{t('.day')} #{l(@project.end_date)}" %></h5>
    <h5 class="mb-3"><%= @project.class.human_enum_name(:working_model, @project.working_model) %></h5>
  </div>

  <div>
    <%= link_to t('.submit'), new_developer_session_path, class: 'btn btn-primary btn-sm me-2' %>
    <%= link_to t('.back'), root_path, class: 'btn btn-secondary btn-sm' %>
  </div>
</div>
