<% if @developer_profile.errors.any? %>
  <ul>
    <% @developer_profile.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: [:user, @developer_profile] do |f| %>
  <div>
    <%= f.label :image %>
    <%= f.file_field :image %>

  </div>
  <div>
    <%= f.label :full_name %>
    <%= f.text_field :full_name %>
  </div>
  <div>
    <%= f.label :social_name %>
    <%= f.text_field :social_name %>
  </div>
  <div>
    <%= f.label :date_birth %>
    <%= f.date_field :date_birth %>
  </div>
  <div>
    <%= f.label :academic_formation %>
    <%= f.text_field :academic_formation %>
  </div>
  <div>
    <%= f.label :performance_zone %>
    <%= f.text_field :performance_zone %>
  </div>
  <div>
    <%= f.label :professional_experiences %>
    <%= f.text_area :professional_experiences %>
  </div>
  <%= f.submit %>
<% end %>
