<% if @developer_profile.errors.any? %>
  <ul>
    <% @developer_profile.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: [:user, @developer_profile] do |f| %>
  <div class="row mb-3">
    <%= f.label :image, class: "col-sm-2 col-form-label" %>
    <div class="col-sm">
      <%= f.file_field :image, class: "form-control" %>
    </div>
  </div>
  <div class="row mb-3">
    <%= f.label :full_name, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.text_field :full_name, class: "form-control" %>
    </div>
  </div>
  <div class="row mb-3">
    <%= f.label :social_name, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.text_field :social_name, class: "form-control" %>
    </div>
  </div>
  <div class="row mb-3">
    <%= f.label :date_birth, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.date_field :date_birth, class: "form-control" %>
    </div>
  </div>
  <div class="row mb-3">
    <%= f.label :academic_formation, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.text_field :academic_formation, class: "form-control" %>
    </div>
  </div>

  <div class="row mb-3">
    <%= f.label :performance_zone, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.text_field :performance_zone, class: "form-control" %>
    </div>
  </div>

  <div class="row mb-3">
    <%= f.label :professional_experiences, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.text_area :professional_experiences, class: "form-control" %>
    </div>
  </div>

  <%= f.submit class: 'btn btn-primary btn-sm' %>
<% end %>

