<!DOCTYPE html>
<html>
  <head>
    <title>FreelancerNow</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
        <div class="alert alert-success" role="alert">
          <%= notice %>
        </div>
      <% end %>
       <% if alert %>
        <div class="alert alert-danger" role="alert">
          <%= alert %>
        </div>
      <% end %>
      
    <div class="container">
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <%= current_developer.email %>
        </li>
        <li class="nav-item">
          <%= link_to t('.exit'), destroy_developer_session_path, class: 'nav-link', method: :delete %>
        </li>
      </ul>
      
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href=<%= root_path %>>FreelancerNow</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <%= link_to t('.my_proposals'), user_project_proposals_path(current_developer), class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to t('.my_profile'),  user_developer_profile_path(current_developer), class: 'nav-link' unless current_developer.developer_profile.nil? %>
              </li>
              <li>
                <p><%= link_to t('.complete_profile'),  new_user_developer_profile_path, class: 'nav-link' unless current_developer.developer_profile %></p>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <%= t('.project_for_category') %>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <% ProjectCategory.all.each do |category| %>
                    <li><a class="dropdown-item" href=<%= user_project_category_path(category) %>><%= category.category %></a></li>
                  <% end %>
                </ul>
              </li>
            </ul>

            <%= form_tag(search_projects_path, method: :get, class: "d-flex") do %>
              <%= text_field_tag :q, nil, placeholder: t('.search_project'), class: "form-control me-2" %>
              <%= submit_tag t('.submit_tag'), class: "btn btn-outline-success" %>
            <% end %>

          </div>
        </div>
      </nav>


      <div class="container">
        <nav class="navbar navbar-light bg-light">
          <div class="container-fluid">
            <span class="navbar-brand mb-0 h1"><%= t('.developer_area') %></span>
          </div>
        </nav>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
