<!DOCTYPE html>
<html>
  <head>
    <title>FreelancerNow</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Área de desenvolvedores</h1>
    <p><%= notice %></p>
    <p><%= alert %></p>

    <p><%= current_developer.email %></p>
    <p><%= link_to t('.my_profile'),  user_profile_my_profile_path(current_developer) %></p>
    <p><%= link_to t('.exit'), destroy_developer_session_path, method: :delete %></p>
    
    <%= yield %>
  </body>
</html>
