<!DOCTYPE html>
<html>
  <head>
    <title>FreelancerNow</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Área do dono do projeto</h1>
    <p><%= notice %></p>
    <p><%= alert %></p>

    <p><%= current_project_owner.email %></p>

    <p><%= link_to 'Cadastrar Projeto', '#' %></p>

    <p><%= link_to 'Sair', '#' %></p>
    
    <%= yield %>
  </body>
</html>
