<!DOCTYPE html>
<html>
  <head>
    <title>FreelancerNow</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Área do dono de projetos</h1>
    <p><%= notice %></p>
    <p><%= alert %></p>

    <p><%= current_project_owner.email %></p>

    <p><%= link_to t('.register_project'), new_admin_project_path %></p>

    <p><%= link_to t('.my_projects'), my_projects_admin_projects_path %></p>

    <p><%= link_to t('.exit'), destroy_project_owner_session_path, method: :delete %></p>
    
    <%= yield %>
  </body>
</html>
